body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f3;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

label {
  font-weight: bold;
}


input[type="number"],
select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}
